
.colorGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--snake-grid-size));
	grid-auto-rows: var(--snake-grid-size);
	position: absolute;
	right: calc(-1 * var(--snake-grid-size) - 0.25em);
	width: var(--snake-grid-size);
	height: calc(var(--snake-grid-size) * var(--snake-grid-amount) + 2px);
	
	.colorPicker {
		width: var(--snake-grid-size);
		height: var(--snake-grid-size);
		background: linear-gradient(in hsl longer hue 90deg, #4368f8 0 0);
		input {
			visibility: hidden;
		}
	}
	
	.reverse {
		cursor: pointer;
	}	
	
	.sound {
		grid-area: 16 / 1;
		cursor: pointer;
	}	
}
