.aside {
	position: relative;

	h2 {
		margin-bottom: 1rem;
		font-size: 1.25rem;
	}
	
	.leaderboard {
		display: flex;
		gap: 1rem;
	}	

	.player {
		color: gold;
	}

	.name {
		position: absolute;
		top: 2rem;
		left: 50%;
		visibility: hidden;
		opacity: 0;
		transform: translate(-50%);
		padding: 0.75rem;
		transition: all 0.2s;
		background-color: #3a3a3a;
		border-radius: 1rem;

		input {
			width: 100px;
			margin-top: 0.5rem;
		}

		&.visible {
			visibility: visible;
			opacity: 1;
		}
	}

	td {
		padding-right: 0.5rem;
	}
}
