.snakeContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
	height: calc(100% - 50px);
}

.flexRow {
	display: flex;
	position: relative;
}

.stats {
	display: flex;
	gap: 0.5rem;
}

.gameGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--snake-grid-size));
	grid-auto-rows: var(--snake-grid-size);
	width: calc(var(--snake-grid-size) * var(--snake-grid-amount) + 2px);
	height: calc(var(--snake-grid-size) * var(--snake-grid-amount) + 2px);
	border: 1px solid pink;

	&:focus,
	&:focus-visible {
		outline: none;
	}

	.status {
		backdrop-filter: blur(0.5px);
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 999;
		visibility: hidden;
		opacity: 0;
		width: 100%;
		height: 100%;
		transition: all 1s;
		background: rgba(0, 0, 0, 0.1);
		color: #e3e3e3;

		h1 {
			padding: 1rem;
		}

		&.visible {
			visibility: visible;
			opacity: 1;
		}
	}
}

.snake {
	border: 1px solid rgba(0, 0, 0, 0.25);
	&.head {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			transform: rotate(90deg);
			width: 13px;
			height: 13px;
			background-image: url(../../static/snek.svg);
			background-size: contain;
		}

		&.rotate::after {
			transform: rotate(0deg);
		}
	}

	&.colorsSwapped::after {
		filter: invert(100%);
	}

	&.hasLeftNeighbor { border-left: unset }
	&.hasTopNeighbor { border-top: unset }
	&.hasRightNeighbor { border-right: unset }
	&.hasBottomNeighbor { border-bottom: unset }
}

.food {
	background-image: url(../../static/apple.svg);
	background-size: contain;
}

.goldenFood {
	background-image: url(../../static/goldenApple.svg);
	background-size: contain;
	&.hidden {
		visibility: hidden;
	}
}

.shroom {
	background-image: url(../../static/shroom.svg);
	background-size: contain;
	&.hidden {
		visibility: hidden;
	}
}

.star {
	background-image: url(../../static/star.png);
	background-size: contain;
	&.hidden {
		visibility: hidden;
	}
} 

