.snakeContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.mainContainer {
	display: flex;
	position: relative;
}

.aside {
	display: flex;
	flex-direction: column;
	position: relative;
	width: fit-content;
	h2 {
		margin-bottom: 1rem;
		font-size: 1.25rem;
	}

	.score {
		display: flex;
		justify-content: space-around;
	}

	.name {
		position: absolute;
		top: -3.8rem;
		left: -0.5rem;
		visibility: hidden;
		padding: 1rem;
		background-color: #3a3a3a;
		border-radius: 1rem;
		h3 {
			margin-bottom: 1rem;
			font-size: 1.125rem;
			text-wrap: nowrap;
		}

		input {
			width: 100px;
			margin-top: 0.25rem;
		}

		&.visible {
			visibility: visible;
		}
	}

	td {
		padding-right: 0.5rem;
	}
}

.flexRow {
	display: flex;
	position: relative;
}

.gameGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--snake-grid-size));
	grid-auto-rows: var(--snake-grid-size);
	width: calc(var(--snake-grid-size) * var(--snake-grid-amount) + 2px);
	height: calc(var(--snake-grid-size) * var(--snake-grid-amount) + 2px);
	border: 1px solid pink;
	&:focus,
	&:focus-visible {
		outline: none;
	}
}

.snakeHeader {
	visibility: hidden;
	margin: 2rem 1rem;
	color: white;
	&.true {
		visibility: visible;
	}
}

.reverse {
	cursor: pointer;
}

.snake {
	&.snake0 {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			transform: rotate(90deg);
			width: 13px;
			height: 13px;
			background-image: url(../../static/snek.svg);
			background-size: contain;
		}

		&.rotate::after {
			transform: rotate(0deg);
		}
	}

	&.swapped::after {
		filter: invert(100%);
	}
}

.food {
	background-image: url(../../static/apple.svg);
	background-size: contain;
}

.goldenFood {
	background-image: url(../../static/goldenApple.svg);
	background-size: contain;
	&.hidden {
		visibility: hidden;
	}
}

.shroom {
	background-image: url(../../static/shroom.svg);
	background-size: contain;
	&.hidden {
		visibility: hidden;
	}
}

.colorGrid {
	position: absolute;
	right: calc(-1 * var(--snake-grid-size) - 0.25em);
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--snake-grid-size));
	grid-auto-rows: var(--snake-grid-size);
	width: var(--snake-grid-size);
	height: calc(var(--snake-grid-size) * var(--snake-grid-amount) + 2px);
}

.colorPicker {
	width: var(--snake-grid-size);
	height: var(--snake-grid-size);
	background: linear-gradient(in hsl longer hue 90deg, #4368f8 0 0);
	input {
		visibility: hidden;
	}
}
